<nav>
    <div class="row">
        <div class="col-md-4 navsidebar">
            <a href="#">Shows & Tour</a>
            <a href="#">Music</a>
            <a href="#">News</a>
        </div>
        <div class="col-md-4 navsidebar">
            <a href="#"><img src="assets/img/Logo2.png" alt="allovous logo"/></a>
        </div>
        <div class="col-md-4 navsidebar">
            <a href="#">Gallery</a>
            <a href="#">About Us</a>
            <a href="#">Booking</a>
        </div>
    </div>
</nav>
