<!-- <nav>
    <div class="row">
        <div class="col-md-4 navsidebar">
            <a href="#">Shows & Tour</a>
            <a href="#">Music</a>
            <a href="#">News</a>
        </div>
        <div class="col-md-4 navsidebar">
            <a href="#"><img src="assets/img/Logo2.png" alt="allovous logo"/></a>
        </div>
        <div class="col-md-4 navsidebar">
            <a href="#">Gallery</a>
            <a href="#">About Us</a>
            <a href="#">Booking</a>
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#"><img src="assets/img/Logo2.png" alt="allovous logo"/></a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Shows & Tour <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Booking</a>
      </li>

    </ul>
  </div>
</nav>

