.EventHeader{
  background: rgb(145,135,194);
  background: radial-gradient(circle, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  box-shadow: rgb(51, 51, 51) 5px 10px 10px, rgb(51, 51, 51) -5px 10px 10px;
}

.event{
  padding: 3%;
  box-sizing:border-box;
  box-shadow: rgb(51, 51, 51) 5px 10px 10px, rgb(51, 51, 51) -5px 10px 10px;
  width: 100%;
  background-color: #008252;
}
.row{
  margin-top: 4%;
  margin-bottom: 5%;
}
.btn-outline {
  background-color: purple;
  color: black;

  &:hover {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    color: teal;
  }

  &.disabled, &:disabled {
    color: black;
  }
}
@media screen and (max-width: 400px)
{
  .btn
  {
    width: 95%;
  }

}
