<!doctype html>
<html lang="en" style="background-color: black;">

<head>
  <meta name="description" content="This is where users can find all of the latest tour information for Allovous.">
  <meta name="keywords"
    content="Live Music, tour, schedule, Rock and Roll, Jam Band, Allovous,  entertainment,  Connecticut, local, tickets, fun, things to do">
</head>
<body style="background-color: black;">

  <!-- EVENTS -->
  <section class="pt-7 pt-md-9" style=" background-color: #008252;">
    <div id="events">
      <div class="event">
        <div class="event-sm collapse">
          <div class="container">

          </div>
        </div>
        <div class="event-lg collapse show bg-cover" id="eventOne" data-bs-parent="#events"
          style="background-color: antiquewhite;">
          <div style=" background: rgb(145,135,194);
          background: radial-gradient(circle, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
          border-top: solid 4px azure;
          border-bottom: solid 4px azure;">
            <div class="container">
              <div class="row py-10">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5">
                  <h1 class="display-4 mb-4 text-white">
                    Allovous @ Leigon 351!
                  </h1>

                  <!-- Date -->
                  <h3 class="text-xs text-white">
                    <time datetime="2022-02-02">JAugust 12, 2022</time>
                  </h3>

                  <!-- Heading -->
                  <h2 class="mb-3 text-white text-align-center">
                    Leigon 351
                  </h2>

                  <!-- Description -->
                  <p class="mb-6 text-white-75">
                    50 St. Kolbe Drive, Holyoke, MA
                  </p>

                  <a class="btn btn-outline-purple text-white text-black-hover"
                  href="https://goo.gl/maps/PYCBnv1C8QFZHv5z8">
                  Get Directions!
                </a>

                </div>
                <div class="col-md-4">
                  <!-- Item -->
                  <a class="d-block mb-3" href="#" data-bigpicture='{ "imgSrc": "assets/img/Hoops_and_Hops_4/Hoops and Hops 3.webp" }'>
                    <img class="img-fluid" src="assets/img/Hoops_and_Hops_4/Hoops and Hops 3.webp" alt="...">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Navigation -->
        <div class="nav justify-content-center mb-6" id="menuTabs" role="tablist">
          <a class="nav-link text-white" id="allovousTab" data-bs-toggle="tab" href="#allovous" role="tab"
            aria-controls="Allovous" aria-selected="true">
            Allovous
          </a>
          <a class="nav-link text-white" id="gregTab" data-bs-toggle="tab" href="#greg" role="tab" aria-controls="greg">
            Greg Eichler Solo
          </a>
        </div>
        <div class="tab-content" id="menuContent">
          <div class="tab-pane fade show active" id="allovous" role="tabpanel" aria-labelledby="AllovousTab">

              <div class="event-sm collapse show">
              </div>

            <div class="event">
                <div class="event-sm collapse show">
                  <div class="container events" style="border-top: solid 4px azure;">
                    <div class="row align-items-center py-6">
                      <div class="col-3 col-md-2 col-lg-1">

                        <!-- Date -->
                        <time class="d-block text-center text-black" datetime="2022-02-11">
                          <span class="d-block mb-2 display-6 font-serif text-white">12</span>
                          <span class="text-white">Aug</span>
                        </time>

                      </div>
                      <div class="col-9 col-md-7 col-lg-8">

                        <!-- Heading -->
                        <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#Allovous"
                          aria-controls="eventTwo" role="button">
                          <h2 class="mb-3 text-white" style="font-weight: bolder;">
                            Legion 351
                          </h2>

                          <!-- Description -->
                          <p class="mb-6 text-size-75 text-white-75">
                            50 St. Kolbe Drive, Holyoke, MA
                          </p>
                        </div>

                      </div>
                      <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                        <!-- Button -->
                        <a class="btn btn-outline-purple text-white text-black-hover"
                          href="https://goo.gl/maps/PYCBnv1C8QFZHv5z8">
                          Get Directions!
                        </a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="event">
                <div class="event-sm collapse show">
                  <div class="container events" style="border-top: solid 4px azure;">
                    <div class="row align-items-center py-6">
                      <div class="col-3 col-md-2 col-lg-1">

                        <!-- Date -->
                        <time class="d-block text-center text-black" datetime="2022-02-11">
                          <span class="d-block mb-2 display-6 font-serif text-white">13</span>
                          <span class="text-white">Aug</span>
                        </time>

                      </div>
                      <div class="col-9 col-md-7 col-lg-8">

                        <!-- Heading -->
                        <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#Allovous"
                          aria-controls="eventTwo" role="button">
                          <h2 class="mb-3 text-white" style="font-weight: bolder;">
                            Platforms Dance Club
                          </h2>

                          <!-- Description -->
                          <p class="mb-6 text-size-75 text-white-75">
                            165 Poe Street, Providence, RI
                          </p>
                        </div>

                      </div>
                      <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                        <!-- Button -->
                        <a class="btn btn-outline-purple text-white text-black-hover"
                          href="https://goo.gl/maps/kgF2zRCeFADNJUAT7">
                          Get Directions!
                        </a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="event">
                <div class="event-sm collapse show">
                  <div class="container events" style="border-top: solid 4px azure;">
                    <div class="row align-items-center py-6">
                      <div class="col-3 col-md-2 col-lg-1">

                        <!-- Date -->
                        <time class="d-block text-center text-black" datetime="2022-02-11">
                          <span class="d-block mb-2 display-6 font-serif text-white">10</span>
                          <span class="text-white">Sep</span>
                        </time>

                      </div>
                      <div class="col-9 col-md-7 col-lg-8">

                        <!-- Heading -->
                        <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#Allovous"
                          aria-controls="eventTwo" role="button">
                          <h2 class="mb-3 text-white" style="font-weight: bolder;">
                            New City Brewery
                          </h2>

                          <!-- Description -->
                          <p class="mb-6 text-size-75 text-white-75">
                            180 Pleasant Street #12 Rear, Easthampton, MA
                          </p>
                        </div>

                      </div>
                      <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                        <!-- Button -->
                        <a class="btn btn-outline-purple text-white text-black-hover"
                          href="https://goo.gl/maps/Hpak4GXU3go9xmSK6">
                          Get Directions!
                        </a>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>


              <div class="tab-pane fade" id="scantic" role="tabpanel" aria-labelledby="scanticTab">
                <div class="col-2 align-self-center">
                </div>

                <div class="event">
                  <div class="event-sm collapse show">
                    <div class="container events" style="border-top: solid 4px azure;">
                      <div class="row align-items-center py-6">
                        <div class="col-3 col-md-2 col-lg-1">

                          <!-- Date -->
                          <time class="d-block text-center text-black" datetime="2022-02-11">
                            <span class="d-block mb-2 display-6 font-serif text-white"></span>
                            <span class="text-white"></span>
                          </time>

                        </div>
                        <div class="col-9 col-md-7 col-lg-8">

                          <!-- Heading -->
                          <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#Allovous"
                            aria-controls="eventTwo" role="button">
                            <h2 class="mb-3 text-white" style="font-weight: bolder;">
                              To Be Announced
                            </h2>

                            <!-- Description -->
                            <p class="mb-6 text-size-75 text-white-75">

                            </p>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="tab-pane fade" id="greg" role="tabpanel" aria-labelledby="gregTab">
                <div class="col-2 align-self-center">
                </div>


                <div class="event">
                  <div class="event-sm collapse show">
                    <div class="container events" style="border-top: solid 4px azure;">
                      <div class="row align-items-center py-6">
                        <div class="col-3 col-md-2 col-lg-1">

                          <!-- Date -->
                          <time class="d-block text-center text-black" datetime="2022-02-11">
                            <span class="d-block mb-2 display-6 font-serif text-white">16</span>
                            <span class="text-white">Mar</span>
                          </time>

                        </div>
                        <div class="col-9 col-md-7 col-lg-8">

                          <!-- Heading -->
                          <div class="h4 mb-4 mb-md-0" data-bs-toggle="collapse" data-bs-target="#eventTwo"
                            aria-controls="eventTwo" role="button">
                            <h2 class="mb-3 text-white" style="font-weight: bolder;">
                              Villa Napoletana
                            </h2>

                            <!-- Description -->
                            <p class="mb-6 text-size-75 text-white-75">
                              664 North Main Street, East Longmeadow, MA
                            </p>
                          </div>

                        </div>
                        <div class="col-9 offset-3 col-md-3 offset-md-0 text-md-right">

                          <!-- Button -->
                          <a class="btn btn-outline-purple text-white text-black-hover"
                            href="https://g.page/villanapoletana?share">
                            Get Directions!
                          </a>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


        </div>
      </div>


