<div class="row">
    <div class="col-md-4">
        <h5>
            About Us
        </h5>
        <p>
            Allovous is a 4-piece rock band formed in Enfield, CT in 2019. Known for their intimate and energetic live
            shows, Allovous feeds off of the force of their fans to forge unforgettable memories.     
        </p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h5>Contact the Band</h5>
        <ul>
            <li>P.O. Box Coming Soon!</li>
            <li><a href="#">Book us Today!</a></li>
        </ul>
    </div>
</div>
