<footer class="bg-black">
    <div class="container">

          <div class="row">
            <div class="col about">
                <h5>
                    About Us
                </h5>
                <p>
                    Allovous is a 4-piece rock band formed in Enfield, CT in 2019. Known for their intimate and energetic live
                    shows, Allovous feeds off of the force of their fans to forge unforgettable memories.
                </p>
            </div>
          </div>
            <div class="row">
            <div class="col contact">
                <h5 class="text-purple">Contact the Band</h5>
                <ul>
                    <li>P.O. Box Coming Soon!</li>
                    <li><a href="#">Book us Today!</a></li>
                </ul>
            </div>
          </div>
          <div class="row">
            <div class="col copyright">
                &copy; {{year}} AllovousMusic. All rights reserved.
            </div>
          </div>
        </div>

</footer>
